# This is a .gitignore file
# Each line is a pattern
# Every file and directory that matches a pattern in this file will not be recognized by git
# We will use it to exclude certain types of files.

# For example, the pycache directory is not necessary to be committed to git.
__pycache__
*.pyc

# We also don't need to be committing editor settings.
.vscode

# Or mypy's cache.
.mypy_cache

# Also, we don't want binary files (at least, not without GitLFS
*.pdf
*.docx
*.zip
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.mp4
*.mp3

# And we also shouldn't be committing the outputs of our program.
schedule.txt
wait_times.txt